<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehiculo</title>
</head>
<body>
{% if el_formulario %}
 {{ el_titulo }}
<form method="POST" action="">{% csrf_token %}
{{ el_formulario.as_p }}
    <input type="submit" value="Guardar">
</form>
{% endif %}
</body>
</html>